main:first-of-type{
	margin-top: $nav-bar-height;
}
.parent{
	&--header{
		background: $base;
		color:$white;
	}
	&--content{
		min-height: 500px;
	}
	&--footer{
		background: $base;
		color:$white;
	}
	&--copyright{

	}
}
.row{
	&--footer{
		padding: 0 0 40px;
		font-size: 16px;
		flex-wrap:wrap;
		.logo{
			filter: brightness(100) invert(1);
		}
		.logo,h5{
			margin: 30px 0;
			height: 40px;
			align-items: center;
			display: inline-flex;
		}
		h5{
			width: 100%;
			font-size: 18px;
			text-transform: uppercase;
		}
		.col{
			@include media-breakpoint-down( sm ){
				&--3{
					width: 50%;
				}
				&:nth-of-type(2){
					display: none;
				}
			}
			@include media-breakpoint-down( xs ){
				&--3{
					width: 100%;
					justify-content: center;
					align-items: center;
					h5{
						justify-content: center;
						align-items: center;
						text-align: center;
					}
				}
			}
			align-items: flex-start;
			flex-direction: column;
			p{
				padding: 0;
				margin: 0;
			}
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				margin: 0;
				padding: 0;
			}
		}
	}
	&--copyright{
		padding: 20px 0;
		.col{
			align-items: center;
			@include media-breakpoint-down( xs) {
				&--2{
					width: 50%;
				}
			}
			&:last-of-type{
				justify-content: flex-end;
				@include media-breakpoint-down( md ) {
					span{
						display: none;
					}	
				}
			}
		}
		.zensite{
			max-height: 30px;
			margin-left: 20px;
		}
	}
}