#psd{
	width: 1920px;
	position: absolute;
	background: url(../img/psd1200.png);
	margin:0;
	padding: 0;
	height: 7687px;
	opacity:.4;
	z-index: 99;
	margin-left: -8px;
	display: none;
}
#psd_switch{
	position: fixed;
	z-index: 99;
	background: #fff;
	cursor: pointer;
	display: none;
}